In [35]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (0.6.0)
Requirement already satisfied: requests-ftp in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (0.3.1)
Requirement already satisfied: requests-file in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (1.4.3)
Requirement already satisfied: lxml in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (4.2.3)
Requirement already satisfied: requests>=2.3.0 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (2.19.1)
Requirement already satisfied: wrapt in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (1.10.11)
Requirement already satisfied: pandas>=0.19.2 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas-datareader) (0.23.3)
Requirement already satisfied: six in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from requests-file->pandas-datareader) (1.11.0)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (1.23)
Requirement already satisfied: certifi>=2017.4.17 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2018.4.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2.7)
Requirement already satisfied: numpy>=1.9.0 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (1.14.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages (from pandas>=0.19.2->pandas-datareader) (2018.5)

In [36]:
import pandas as pd
import numpy as np

In [37]:
college = pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [38]:
college.shape

(7535, 27)

In [39]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
INSTNM                7535 non-null object
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [40]:
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [41]:
college.describe(include=[np.object, pd.Categorical]).T

                   count unique                      top  freq
INSTNM              7535   7535  Bates Technical College     1
CITY                7535   2514                 New York    87
STABBR              7535     59                       CA   773
MD_EARN_WNE_P10     6413    598        PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038        PrivacySuppressed  1510

In [42]:
college.describe(include=[np.number], percentiles=[.01, .05, .10, .25, .5, .75, .9, .95, .99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,1.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,1.00000,1.000000,1.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,390.000000,430.000000,447.40000,475.000000,510.00000,555.000000,605.00000,665.000000,730.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,395.000000,430.000000,453.00000,482.000000,520.00000,565.000000,630.00000,685.000000,745.250000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,14.000000,31.650000,49.00000,117.000000,412.50000,1929.500000,6512.30000,11858.050000,26015.290000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.000000,0.013265,0.06879,0.267500,0.55570,0.747875,0.86297,0.927315,1.000000,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.000000,0.000000,0.00753,0.036125,0.10005,0.257700,0.51571,0.726715,0.961467,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.000000,0.000000,0.00573,0.027600,0.07140,0.198875,0.44314,0.666700,1.000000,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.000000,0.000000,0.00000,0.002500,0.01290,0.032700,0.07840,0.131775,0.346429,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.000000,0.00000,0.000000,0.00260,0.007300,0.01837,0.036410,0.209326,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.002500,0.00800,0.015200,0.050508,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.000000,0.00000,0.000000,0.01750,0.033900,0.05651,0.076900,0.133154,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.011700,0.04250,0.078135,0.236989,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.000000,0.00000,0.000000,0.01430,0.045400,0.10801,0.200575,0.496581,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.000000,0.00000,0.000000,0.15040,0.376900,0.60410,0.710620,0.946724,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,0.000000,0.000000,1.00000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.054976,0.170000,0.23656,0.357800,0.52150,0.712900,0.83330,0.896360,0.993908,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.000000,0.000000,0.00000,0.332900,0.58330,0.745000,0.84752,0.897920,0.986368,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.002500,0.037400,0.08990,0.241500,0.40075,0.572275,0.72666,0.800000,0.917383,1.0000

In [43]:
pd.read_csv('data/college_data_dictionary.csv')

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

In [44]:
different_cols = ['RELAFFIL', 'STATMTIMD', 'CURROPER', 'INSTNM', 'STABBR']
col2 = college.loc[:, different_cols]
col2.head()

/Users/davel/.local/share/virtualenvs/pandas-cookbook-nNG2axCD/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   RELAFFIL  STATMTIMD  CURROPER                               INSTNM STABBR
0         0        NaN         1             Alabama A & M University     AL
1         0        NaN         1  University of Alabama at Birmingham     AL
2         1        NaN         1                   Amridge University     AL
3         0        NaN         1  University of Alabama in Huntsville     AL
4         0        NaN         1             Alabama State University     AL

In [45]:
col2.dtypes

RELAFFIL       int64
STATMTIMD    float64
CURROPER       int64
INSTNM        object
STABBR        object
dtype: object

In [46]:
original_mem = col2.memory_usage(deep=True)
original_mem

Index            80
RELAFFIL      60280
STATMTIMD     60280
CURROPER      60280
INSTNM       660240
STABBR       444565
dtype: int64

In [47]:
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [48]:
col2.dtypes

RELAFFIL        int8
STATMTIMD    float64
CURROPER       int64
INSTNM        object
STABBR        object
dtype: object

In [49]:
col2.memory_usage(deep=True)

Index            80
RELAFFIL       7535
STATMTIMD     60280
CURROPER      60280
INSTNM       660240
STABBR       444565
dtype: int64

In [50]:
col2.select_dtypes(include=['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [51]:
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL         int8
STATMTIMD     float64
CURROPER        int64
INSTNM         object
STABBR       category
dtype: object

In [52]:
new_mem = col2.memory_usage(deep=True)
new_mem

Index            80
RELAFFIL       7535
STATMTIMD     60280
CURROPER      60280
INSTNM       660699
STABBR        13576
dtype: int64

In [53]:
(new_mem / original_mem) * 100

Index        100.000000
RELAFFIL      12.500000
STATMTIMD    100.000000
CURROPER     100.000000
INSTNM       100.069520
STABBR         3.053772
dtype: float64

In [54]:
college.loc[0, 'CURROPER'] = 10000000

In [55]:
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'

In [56]:
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

Index           80
CURROPER     60280
INSTNM      660804
dtype: int64

In [57]:
college.index = pd.Int64Index(college.index)
college.index.memory_usage()

60280

In [58]:
movie = pd.read_csv('data/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

In [59]:
movie2.nlargest(100, 'imdb_score').head(10)

                                        movie_title  imdb_score       budget
2725                               Towering Inferno         9.5          NaN
1920                       The Shawshank Redemption         9.3   25000000.0
3402                                  The Godfather         9.2    6000000.0
2779                                        Dekalog         9.1          NaN
4312                           Kickboxer: Vengeance         9.1   17000000.0
66                                  The Dark Knight         9.0  185000000.0
2791                         The Godfather: Part II         9.0   13000000.0
3415                                          Fargo         9.0          NaN
335   The Lord of the Rings: The Return of the King         8.9   94000000.0
1857                               Schindler's List         8.9   22000000.0

In [60]:
movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [61]:
movie = pd.read_csv('data/movie.csv')
movie2 = movie[['movie_title', 'title_year', 'imdb_score']]

In [62]:
movie2.sort_values('title_year', ascending=False).head()

                       movie_title  title_year  imdb_score
3884                      The Veil      2016.0         4.7
2375    My Big Fat Greek Wedding 2      2016.0         6.1
2794          Miracles from Heaven      2016.0         6.8
92    Independence Day: Resurgence      2016.0         5.5
153                Kung Fu Panda 3      2016.0         7.2

In [63]:
movie3 = movie2.sort_values(['title_year', 'imdb_score'], ascending=False)
movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

In [64]:
movie_top_year = movie3.drop_duplicates(subset='title_year')
movie_top_year.head()

                                  movie_title  title_year  imdb_score
4312                     Kickboxer: Vengeance      2016.0         9.1
3745                          Running Forever      2015.0         8.6
4369                   Queen of the Mountains      2014.0         8.7
3935  Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                       The Dark Knight Rises      2012.0         8.5

In [65]:
movie4 = movie[['movie_title', 'title_year', 'content_rating', 'budget']]
# sorts the first two columns in descending order and the third in ascending order
movie4_sorted = movie4.sort_values(['title_year', 'content_rating', 'budget'], ascending=[False, False, True])
movie4_sorted.drop_duplicates(subset=['title_year', 'content_rating']).head(10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

In [66]:
movie = pd.read_csv('data/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie_smallest_largest = movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')
movie_smallest_largest

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [67]:
movie.sort_values('imdb_score', ascending=False).head(100)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2725,Color,John Blanchard,NaN,65.0,0.0,176.0,Andrea Martin,770.0,NaN,Comedy,...,NaN,English,Canada,NaN,NaN,NaN,179.0,9.5,1.33,0
1920,Color,Frank Darabont,199.0,142.0,0.0,461.0,Jeffrey DeMunn,11000.0,28341469.0,Crime|Drama,...,4144.0,English,USA,R,2.500000e+07,1994.0,745.0,9.3,1.85,108000
3402,Color,Francis Ford Coppola,208.0,175.0,0.0,3000.0,Marlon Brando,14000.0,134821952.0,Crime|Drama,...,2238.0,English,USA,R,6.000000e+06,1972.0,10000.0,9.2,1.85,43000
2779,Color,NaN,53.0,55.0,NaN,2.0,Olaf Lubaszenko,20.0,447093.0,Drama,...,37.0,Polish,Poland,TV-MA,NaN,NaN,3.0,9.1,1.33,0
4312,NaN,John Stockwell,2.0,90.0,134.0,354.0,T.J. Storm,260000.0,NaN,Action,...,1.0,NaN,USA,NaN,1.700000e+07,2016.0,454.0,9.1,NaN,0
3415,Color,NaN,54.0,53.0,NaN,1000.0,Adam Goldberg,4000.0,NaN,Crime|Drama|Thriller,...,173.0,English,USA,TV-MA,NaN,NaN,1000.0,9.0,1.78,61000
2791,Color,Francis Ford Coppola,149.0,220.0,0.0,3000.0,Al Pacino,22000.0,57300000.0,Crime|Drama,...,650.0,English,USA,R,1.300000e+07,1974.0,14000.0,9.0,1.85,14000
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,1.850000e+08,2008.0,13000.0,9.0,2.35,37000
1857,Black and White,Steven Spielberg,174.0,185.0,14000.0,212.0,Embeth Davidtz,14000.0,96067179.0,Biography|Drama|History,...,1273.0,English,USA,R,2.200000e+07,1993.0,795.0,8.9,1.85,41000
335,Color,Peter Jackson,328.0,192.0,0.0,416.0,Billy Boyd,5000.0,377019252.0,Action|Adventure|Drama|Fantasy,...,3189.0,English,USA,PG-13,9.400000e+07,2003.0,857.0,8.9,2.35,16000
3295,Color,Quentin Tarantino,215.0,178.0,16000.0,857.0,Eric Stoltz,13000.0,107930000.0,Crime|Drama,...,2195.0,English,USA,R,8.000000e+06,1994.0,902.0,8.9,2.35,45000
4706,Black and White,Sidney Lumet,177.0,96.0,0.0,253.0,Lee J. Cobb,359.0,NaN,Crime|Drama,...,888.0,English,USA,Not Rated,3.500000e+05,1957.0,259.0,8.9,1.66,40000
4397,Color,Sergio Leone,181.0,142.0,0.0,24.0,Luigi Pistilli,16000.0,6100000.0,Western,...,780.0,Italian,Italy,Approved,1.200000e+06,1966.0,34.0,8.9,2.35,20000
267,Color,Peter Jackson,297.0,171.0,0.0,857.0,Orlando Bloom,16000.0,313837577.0,Action|Adventure|Drama|Fantasy,...,5060.0,English,New Zealand,PG-13,9.300000e+07,2001.0,5000.0,8.8,2.35,21000
1825,Color,NaN,79.0,22.0,NaN,424.0,Kaitlin Olson,813.0,NaN,Comedy,...,151.0,English,USA,TV-MA,NaN,NaN,547.0,8.8,1.33,0
453,NaN,NaN,95.0,54.0,NaN,0.0,Royce Johnson,577.0,NaN,Action|Adventure|Crime|Drama|Sci-Fi|Thriller,...,394.0,English,USA,TV-MA,NaN,NaN,4.0,8.8,16.00,55000
827,Black and White,Robert Zemeckis,149.0,142.0,0.0,194.0,Siobhan Fallon Hogan,15000.0,329691196.0,Comedy|Drama,...,1398.0,English,USA,PG-13,5.500000e+07,1994.0,294.0,8.8,2.35,59000
675,Color,David Fincher,315.0,151.0,21000.0,637.0,Meat Loaf,11000.0,37023395.0,Drama,...,2968.0,English,USA,R,6.300000e+07,1999.0,783.0,8.8,2.35,48000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,1.600000e+08,2010.0,27000.0,8.8,2.35,175000
2031,Color,Irvin Kershner,223.0,127.0,883.0,441.0,Kenny Baker,11000.0,290158751.0,Action|Adventure|Fantasy|Sci-Fi,...,900.0,English,USA,PG,1.800000e+07,1980.0,504.0,8.8,2.35,17000
2973,Color,George Lucas,282.0,125.0,0.0,504.0,Peter Cushing,11000.0,460935665.0,Action|Adventure|Fantasy|Sci-Fi,...,1470.0,English,USA,PG,1.100000e+07,1977.0,1000.0,8.7,2.35,33000
4804,Color,Cary Bell,NaN,78.0,0.0,0.0,Stacie Evans,0.0,NaN,Documentary,...,1.0,English,USA,NaN,1.800000e+05,2014.0,0.0,8.7,NaN,88
1801,Black and White,NaN,15.0,30.0,NaN,94.0,Art Carney,491.0,NaN,Comedy|Family,...,31.0,English,USA,NaN,NaN,NaN,154.0,8.7,1.33,459
4277,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
647,Color,Lana Wachowski,313.0,136.0,0.0,99.0,Marcus Chong,18000.0,171383253.0,Action|Sci-Fi,...,3646.0,English,USA,R,6.300000e+07,1999.0,145.0,8.7,2.35,25000
1604,Color,NaN,51.0,44.0,NaN,690.0,Aimee Teegarden,971.0,NaN,Drama|Sport,...,257.0,English,USA,TV-14,NaN,NaN,741.0,8.7,1.78,0
4369,Color,Sadyk Sher-Niyaz,16.0,135.0,135.0,0.0,Aziz Muradillayev,0.0,NaN,Action|Biography|Drama|History,...,24.0,English,Kyrgyzstan,PG-13,1.400000e+06,2014.0,0.0,8.7,2.35,0
1886,Color,Martin Scorsese,192.0,146.0,17000.0,635.0,Mike Starr,22000.0,46836394.0,Biography|Crime|Drama,...,989.0,English,USA,R,2.500000e+07,1990.0,854.0,8.7,1.85,25000
3512,Color,NaN,10.0,55.0,NaN,5.0,Fortunato Cerlino,18.0,NaN,Crime|Drama|Thriller,...,25.0,Italian,Italy,TV-MA,NaN,NaN,9.0,8.7,1.85,0
3795,Color,Milos Forman,149.0,133.0,869.0,425.0,Michael Berryman,888.0,112000000.0,Drama,...,760.0,English,USA,R,4.400000e+06,1975.0,721.0,8.7,1.85,32000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Color,Robert Zemeckis,198.0,116.0,0.0,459.0,Thomas F. Wilson,1000.0,210609762.0,Adventure|Comedy|Sci-Fi,...,809.0,English,USA,PG,1.900000e+07,1985.0,690.0,8.5,1.18,39000
2215,Black and White,Alfred Hitchcock,290.0,108.0,13000.0,285.0,Vera Miles,606.0,32000000.0,Horror|Mystery|Thriller,...,1040.0,English,USA,R,8.069470e+05,1960.0,332.0,8.5,1.85,18000
1287,Black and White,Jean-Pierre Jeunet,242.0,122.0,0.0,54.0,Jamel Debbouze,326.0,33201661.0,Comedy|Romance,...,1314.0,French,France,R,7.700000e+07,2001.0,326.0,8.4,2.35,39000
1521,Color,Richard Marquand,197.0,134.0,37.0,504.0,Ian McDiarmid,11000.0,309125409.0,Action|Adventure|Fantasy|Sci-Fi,...,647.0,English,USA,PG,3.250000e+07,1983.0,1000.0,8.4,2.35,14000
4023,Color,Chan-wook Park,305.0,120.0,0.0,38.0,Ji-tae Yu,717.0,2181290.0,Drama|Mystery|Thriller,...,809.0,Korean,South Korea,R,3.000000e+06,2003.0,78.0,8.4,2.35,43000
58,Color,Andrew Stanton,421.0,98.0,475.0,522.0,Fred Willard,1000.0,223806889.0,Adventure|Animation|Family|Sci-Fi,...,1043.0,English,USA,G,1.800000e+08,2008.0,729.0,8.4,2.35,16000
3592,Color,NaN,15.0,25.0,NaN,220.0,Belinda Stewart-Wilson,229.0,NaN,Comedy|Romance,...,42.0,English,UK,TV-14,NaN,NaN,223.0,8.4,16.00,0
3555,Color,NaN,47.0,44.0,NaN,724.0,Jason Dohring,937.0,NaN,Crime|Drama|Mystery,...,315.0,English,USA,TV-14,NaN,NaN,828.0,8.4,1.78,0
1317,Color,S.S. Rajamouli,44.0,159.0,50.0,72.0,Anushka Shetty,218.0,6498000.0,Action|Adventure|Drama|Fantasy|War,...,410.0,Telugu,India,NaN,1.802615e+07,2015.0,133.0,8.4,1.85,21000
848,Color,NaN,77.0,44.0,NaN,72.0,Don S. Davis,847.0,NaN,Action|Adventure|Drama|Sci-Fi,...,181.0,English,USA,TV-14,1.400000e+06,NaN,440.0,8.4,1.33,0
1490,Black and White,Moustapha Akkad,24.0,156.0,278.0,249.0,Rod Steiger,695.0,NaN,Biography|Drama|History|War,...,55.0,English,Libya,PG,3.500000e+07,1980.0,279.0,8.4,2.35,0
4395,Color,Quentin Tarantino,173.0,99.0,16000.0,455.0,Steve Buscemi,16000.0,2812029.0,Crime|Drama|Thriller,...,931.0,English,USA,R,1.200000e+06,1992.0,12000.0,8.4,2.35,19000
2294,Color,Hayao Miyazaki,174.0,134.0,6000.0,745.0,Jada Pinkett Smith,893.0,2298191.0,Adventure|Animation|Fantasy,...,570.0,Japanese,Japan,PG-13,2.400000e+09,1997.0,851.0,8.4,1.85,11000
2570,Color,Sam Mendes,176.0,122.0,0.0,158.0,Peter Gallagher,18000.0,130058047.0,Drama,...,2715.0,English,USA,R,1.500000e+07,1999.0,828.0,8.4,2.35,22000
567,Color,Mel Gibson,132.0,178.0,0.0,403.0,Patrick McGoohan,906.0,75600000.0,Biography|Drama|History|War,...,1065.0,English,USA,R,7.200000e+07,1995.0,466.0,8.4,2.35,17000
1698,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,3.000000e+07,1984.0,683.0,8.4,1.85,12000
2646,Color,Catherine Owens,68.0,85.0,0.0,44.0,The Edge,468.0,10353690.0,Documentary|Music,...,31.0,English,USA,G,NaN,2007.0,67.0,8.4,1.78,116
2922,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,1.400000e+07,1981.0,21.0,8.4,1.85,11000
4163,Black and White,Robert Mulligan,127.0,129.0,89.0,161.0,Brock Peters,3000.0,NaN,Crime|Drama,...,471.0,English,USA,Not Rated,2.000000e+06,1962.0,226.0,8.4,1.85,15000
2605,Color,David Lean,181.0,227.0,767.0,87.0,JosÃ© Ferrer,607.0,6000000.0,Adventure|Biography|Drama|History|War,...,559.0,English,UK,PG,1.500000e+07,1962.0,202.0,8.4,2.20,11000
3616,Color,Rakeysh Omprakash Mehra,33.0,157.0,85.0,199.0,Steven Mackintosh,397.0,2197331.0,Comedy|Drama|History|Romance,...,321.0,Hindi,India,Not Rated,NaN,2006.0,227.0,8.4,2.35,0
4815,Color,Bill Melendez,43.0,25.0,36.0,27.0,Bill Melendez,39.0,NaN,Animation|Comedy|Family,...,126.0,English,USA,TV-G,1.500000e+05,1965.0,36.0,8.4,1.33,0
2333,Color,Stanley Kubrick,253.0,146.0,0.0,413.0,Shelley Duvall,888.0,NaN,Drama|Horror,...,1320.0,English,USA,R,1.900000e+07,1980.0,629.0,8.4,1.37,37000
3736,Color,NaN,38.0,44.0,NaN,816.0,DulÃ© Hill,1000.0,NaN,Comedy|Crime|Mystery,...,127.0,English,USA,TV-PG,NaN,NaN,922.0,8.4,1.78,0
3902,Color,NaN,55.0,25.0,NaN,395.0,Jamie Farr,443.0,NaN,Comedy|Drama|War,...,147.0,English,USA,TV-PG,NaN,NaN,421.0,8.4,4.00,0
3799,Color,NaN,2.0,199.0,NaN,505.0,Jonathan Crombie,662.0,NaN,Drama|Family,...,74.0,English,Canada,TV-G,NaN,NaN,517.0,8.4,1.33,0
3777,Color,Darren Aronofsky,234.0,102.0,0.0,167.0,Mark Margolis,1000.0,3609278.0,Drama,...,1916.0,English,USA,R,4.500000e+06,2000.0,1000.0,8.4,1.37,38000
3935,Color,Jay Oliva,44.0,148.0,41.0,739.0,Mark Valley,2000.0,NaN,Action|Animation|Crime|Sci-Fi|Thriller,...,55.0,English,USA,PG-13,3.500000e+06,2013.0,774.0,8.4,NaN,5000
4636,Color,Marius A. Markevicius,26.0,89.0,6.0,8.0,Greg Speirs,14.0,133778.0,Documentary|Sport,...,9.0,English,USA,Not Rated,5.000000e+05,2012.0,9.0,8.4,NaN,0
2455,Color,James Cameron,250.0,154.0,0.0,604.0,Carrie Henn,2000.0,85200000.0,Action|Adventure|Sci-Fi,...,1076.0,English,USA,R,1.850000e+07,1986.0,626.0,8.4,1.85,18000

In [68]:
movie2.sort_values('imdb_score', ascending=False).head(100).sort_values('budget').head()

                    movie_title  imdb_score    budget
4815  A Charlie Brown Christmas         8.4  150000.0
4801         Children of Heaven         8.5  180000.0
4804             Butterfly Girl         8.7  180000.0
4706               12 Angry Men         8.9  350000.0
4636       The Other Dream Team         8.4  500000.0

In [76]:
# Workaround for a pandas bug
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr
# tsla = pdr.DataReader('tsla', data_source='google', start='2017-1-1')
# tsla.head(8)
# Google's finance API doesn't really work anymore